# Dependencies for generating/publishing Python binaries.

bob-builder==0.0.19

django

gunicorn

django-heroku

requests

pillow

whitenoise



# Sub-dependencies of bob-builder.

boto==2.49.0

docopt==0.6.2




asgiref==3.5.0

autopep8==1.6.0

certifi==2021.10.8

distlib==0.3.4

dj-database-url==0.5.0

Django==4.0.3

django-heroku==0.3.1

filelock==3.6.0

joblib==1.1.0

numpy==1.22.3

pipenv==2022.3.28

platformdirs==2.5.1

psycopg2==2.9.3

pycodestyle==2.8.0

pytz==2021.3

scikit-learn==1.0.2

scipy==1.8.0

six==1.16.0

sqlparse==0.4.2

threadpoolctl==3.1.0

toml==0.10.2

tzdata==2021.5

virtualenv==20.14.0

virtualenv-clone==0.5.7

whitenoise==6.0.0