{% extends "base.html" %}



{% block content %}
<div class="card">
   
    {% if game.game_image %}
    <img src="{{ game.game_image.url }}" class="center">
    {% endif %}

    <div class="border round">
        <h1 class="my-5">{{game.title}}</h1>
        <p>{{game.types}}</p>
        <p>{{game.description}}</p>
        <p>{{game.age}}</p>
        <p>{{game.awards}}</p>  
    </div>   
</div>

<a href="{% url 'games.list' %}" class="btn btn-secondary my-5">Back</a>
<a href="{% url 'games.update' pk=game.id %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'games.delete' pk=game.id %}" class="btn btn-danger">Delete</a>

{% endblock %}